body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sevillana', cursive;
    font-size: 5.265rem;
    color: #66BFBF;
    
}
h2{
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Merriweather', serif;
    color: #11999E;
}
a{
    color: #11999E;
    margin: 30px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
p{
    line-height: 2;
}
.top-container{
    background-color: #BFEAF5;
    padding-top: 100px;

}
.cloud-top{
    position: absolute;
    top: 50px;
    right: 300px;
}
.cloud-bottom{
    position: absolute;
    top: 200px;
    left: 250px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}

.profile > img{
    width: 500px;
    height: 300px;
    margin-top: 100px ;
}
.anime{
    width: 40%;
    float: right;
    margin-left: 20px;
}
.computer{
    width: 23%;
    margin-right: 20px;
    float: left;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 30px;
    margin-top: 100px;
}
hr{
    border-style: dotted none none none;
    width: 5%; 
    border-width: 7px;
    border-color: grey;
    margin: 90px auto 90px auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
   
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
    
  }
